*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #ff564c;
}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 30px; 
}
#display{
    max-width: 366px;
    max-height: 650px;
    width: 100%;
    height: 100%;
    background:#111111;
    
}
#contentImg {
    min-height: 366px;
    min-width: 366px;
}
#header {
    background-size: 100% 100%;
    min-height: 366px;
    min-width: 366px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    flex: 100%;
    .search{
        right: 0;
    }
    .menu{
        display: flex;
        justify-content: left;
    }
    svg{
        path{
            fill: white;
        }
    }
}
